.table {
  width: 640px;
  border: 2px solid #000000;
  border-collapse: collapse;
}

.tableHead {
  color: #ffffff;
  background-color: #232023;
  font-weight: 500;
}

.headItem {
  padding: 4px 0;
  border: 2px solid #000000;
}

.row:nth-child(2n) {
  background-color: #c5c6d0;
}

.tableBody {
  font-size: 18px;
  font-weight: 500;
}

.type {
  padding: 4px 0 4px 36px;
  border: 2px solid #000000;
}

.type::first-letter {
  text-transform: capitalize;
}

.amount,
.currency {
  text-align: center;
  border: 2px solid #000000;
}
